@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body{
  font-family: 'Noto Sans TC', sans-serif !important;
  // background: $dark !important;
  // color:white !important;
  transition: none !important;
  letter-spacing: 1.5px;
  background: #141414 !important;
}

.en{
  font-family: 'Dancing Script', cursive !important;
}

.cursor-pointer{
  cursor: pointer;
}

.brLine {
  width: 10%;
  height: 3px;
  background: $primary;
  margin: 0 auto;
  border-radius: 100px;
}

.text-decoration-none{
  text-decoration: none;
}

// swiper 客製化
.swiper-pagination-bullet{
  background: white !important;
}
.swiper-pagination-bullet-active {
  background: $primary !important;
}

// 按鈕 spinner
.spinner-border {
  width: 1rem !important;
  height: 1rem !important;
  border-width: 0.2rem !important;
}